In [2]:
import pandas as pd
import os

$$
\theta = 20
$$

## Read The TXT File

In [8]:
TEXT_DIR = "../data/extracted_images"
text_files = os.listdir(TEXT_DIR)
text_files = [f"{TEXT_DIR}/{i}" for i in text_files if ".txt" in i]
text_files[0]

'../data/extracted_images/h1.txt'

In [9]:
with open(text_files[0], "r") as f:
    text = f.read()
    print(text)

### h1.tif
### First Frame ID: 034.jpg
### Last Frame ID:
### Contact Frame ID: 073.jpg
### Leave Frame ID:
### Angle: 25.017

### Get Info

In [36]:
info_dict = {
    "first_frame": 1,
    "last_frame": 2,
    "contact_frame": 3,
    "leave_frame": 4,
    "angle": 5,
}

In [47]:
def get_info(file):
    information = {}
    with open(file, "r") as f:
        texts = f.readlines()
    for key, value in info_dict.items():
        line = texts[value]
        info = line.split(":")[1].strip()
        information[key] = info
    return information

In [54]:
get_info(text_files[11])

{'first_frame': '034.jpg',
 'last_frame': '',
 'contact_frame': '073.jpg',
 'leave_frame': '',
 'angle': '22'}

## Read The DataFrame

In [28]:
FOLDER_DIR = os.listdir("../data/results")
df_dir = [i for i in FOLDER_DIR if "." not in i]
DF_NAME = "centers_using_ap.csv"
DF_DIR = [f"../data/results/{i}" for i in FOLDER_DIR]
DF_DIR[0]

'../data/results/centers_using_ap.csv'

In [29]:
df = pd.read_csv(DF_DIR[0])

In [30]:
df

                          id     x    y  r1  r2  theta
0      ../data/images1/0.jpg   869  403   8  12   0.24
1      ../data/images1/1.jpg   869  403   8  12   0.25
2      ../data/images1/2.jpg   869  403   9  12   0.25
3      ../data/images1/3.jpg   869  403   9  12   0.24
4      ../data/images1/4.jpg   869  403   9  12   0.26
..                       ...   ...  ...  ..  ..    ...
151  ../data/images1/154.jpg  1186  583   9  11   2.06
152  ../data/images1/155.jpg  1190  585   9  11   2.15
153  ../data/images1/156.jpg  1194  586   9  11   1.98
154  ../data/images1/157.jpg  1198  588   9  10   0.46
155  ../data/images1/158.jpg  1198  589   5   8   0.18

[156 rows x 6 columns]